workflows/v2_telegram_conversation.json
{
  "name": "V2 - Telegram Conversation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d3c4e5f6-0001-0001-0001-000000000001",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400]
    },
    {
      "parameters": {
        "functionCode": "// Validate secret token header and sender chat_id\nconst headers = $input.first().json.headers || {};\nconst secretHeader = headers['x-telegram-bot-api-secret-token'] || '';\nconst expectedSecret = process.env.TELEGRAM_WEBHOOK_SECRET || '';\nif (secretHeader !== expectedSecret) {\n  return [{json: {valid: false, reason: 'invalid_secret'}}];\n}\nconst body = $input.first().json.body || {};\nconst chatId = body.message?.chat?.id?.toString() || body.callback_query?.message?.chat?.id?.toString() || '';\nconst expectedChatId = process.env.TELEGRAM_CHAT_ID || '';\nif (chatId !== expectedChatId) {\n  return [{json: {valid: false, reason: 'unknown_sender'}}];\n}\nreturn [{json: {valid: true, body}}];"
      },
      "id": "d3c4e5f6-0002-0002-0002-000000000002",
      "name": "Validate Sender",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.valid}}",
              "value2": true
            }
          ]
        }
      },
      "id": "d3c4e5f6-0003-0003-0003-000000000003",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body || {};\nconst isCallbackQuery = !!body.callback_query;\nconst isMessage = !!body.message;\nif (isCallbackQuery) {\n  return [{\n    json: {\n      route: 'callback_query',\n      callback_query_id: body.callback_query.id,\n      callback_data: body.callback_query.data,\n      message_id: body.callback_query.message?.message_id,\n      chat_id: body.callback_query.message?.chat?.id\n    }\n  }];\n}\nif (isMessage) {\n  return [{\n    json: {\n      route: 'message',\n      text: body.message.text || '',\n      chat_id: body.message.chat?.id,\n      message_id: body.message.message_id,\n      from: body.message.from\n    }\n  }];\n}\nreturn [{json: {route: 'unknown'}}];"
      },
      "id": "d3c4e5f6-0004-0004-0004-000000000004",
      "name": "Route by Type",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "callback_query"
            },
            {
              "value2": "message"
            }
          ]
        },
        "fallbackOutput": "none"
      },
      "id": "d3c4e5f6-0005-0005-0005-000000000005",
      "name": "Switch Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse callback_data format: {action}:{type}:{item_id}\nconst data = $input.first().json.callback_data || '';\nconst parts = data.split(':');\nif (parts.length < 3) return [{json: {action: 'unknown', item_type: 'unknown', item_id: 'unknown', original: data}}];\nconst [action, item_type, ...idParts] = parts;\nconst item_id = idParts.join(':');\nreturn [{json: {\n  action,\n  item_type,\n  item_id,\n  callback_query_id: $input.first().json.callback_query_id,\n  message_id: $input.first().json.message_id,\n  chat_id: $input.first().json.chat_id\n}}];"
      },
      "id": "d3c4e5f6-0006-0006-0006-000000000006",
      "name": "Parse Callback Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {"value2": "like"},
            {"value2": "dislike"},
            {"value2": "rate"},
            {"value2": "info"}
          ]
        },
        "fallbackOutput": "none"
      },
      "id": "d3c4e5f6-0007-0007-0007-000000000007",
      "name": "Switch Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\nconst {action, item_type, item_id} = $input.first().json;\nconst ratingsPath = '/data/ratings_history.json';\nconst profilePath = '/data/user_profile.json';\nconst ratings = JSON.parse(fs.readFileSync(ratingsPath, 'utf8'));\nconst profile = JSON.parse(fs.readFileSync(profilePath, 'utf8'));\nconst isLike = action === 'like';\n// Store quick rating\nratings.ratings.push({\n  item_id,\n  item_type,\n  action,\n  timestamp: new Date().toISOString()\n});\nfs.writeFileSync(ratingsPath, JSON.stringify(ratings, null, 2));\n// Update profile scores\nconst delta = isLike ? 0.5 : -0.5;\nconst topicDelta = isLike ? 0.2 : -0.1;\nif (item_type === 'podcast') {\n  const podcast = profile.known_podcasts.find(p => p.id === item_id || p.rss_url?.includes(item_id));\n  if (podcast) {\n    podcast.feedback.quick_likes = (podcast.feedback.quick_likes || 0) + (isLike ? 1 : 0);\n    podcast.feedback.quick_dislikes = (podcast.feedback.quick_dislikes || 0) + (!isLike ? 1 : 0);\n  }\n}\nprofile.profile_update_count = (profile.profile_update_count || 0) + 1;\nprofile.last_updated = new Date().toISOString();\nfs.writeFileSync(profilePath, JSON.stringify(profile, null, 2));\nconst replyText = isLike ? '👍 Anotado.' : '👎 Anotado. Lo tendré en cuenta.';\nreturn [{json: {reply_text: replyText, callback_query_id: $input.first().json.callback_query_id}}];"
      },
      "id": "d3c4e5f6-0008-0008-0008-000000000008",
      "name": "Handle Quick Rating",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1780, 100]
    },
    {
      "parameters": {
        "functionCode": "const {item_id, item_type, callback_query_id} = $input.first().json;\n// Build rating request message\nconst ratingMsg = `⭐ *Puntúa este contenido*\\n\\nTema:\\n[1] [2] [3] [4] [5]\\n\\nPresentador/Canal:\\n[1] [2] [3] [4] [5]\\n\\n¿Lo recomendarías?\\n[Sí] [No]`;\nconst inlineKeyboard = {\n  inline_keyboard: [\n    [{text:'1',callback_data:`topic_score:${item_type}:${item_id}:1`},{text:'2',callback_data:`topic_score:${item_type}:${item_id}:2`},{text:'3',callback_data:`topic_score:${item_type}:${item_id}:3`},{text:'4',callback_data:`topic_score:${item_type}:${item_id}:4`},{text:'5',callback_data:`topic_score:${item_type}:${item_id}:5`}],\n    [{text:'Host 1',callback_data:`host_score:${item_type}:${item_id}:1`},{text:'Host 2',callback_data:`host_score:${item_type}:${item_id}:2`},{text:'Host 3',callback_data:`host_score:${item_type}:${item_id}:3`},{text:'Host 4',callback_data:`host_score:${item_type}:${item_id}:4`},{text:'Host 5',callback_data:`host_score:${item_type}:${item_id}:5`}],\n    [{text:'👍 Lo recomendaría',callback_data:`recommend:${item_type}:${item_id}:yes`},{text:'👎 No',callback_data:`recommend:${item_type}:${item_id}:no`}]\n  ]\n};\nreturn [{json: {rating_text: ratingMsg, inline_keyboard: JSON.stringify(inlineKeyboard), callback_query_id}}];"
      },
      "id": "d3c4e5f6-0009-0009-0009-000000000009",
      "name": "Handle Rate Request",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1780, 220]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.rating_text}}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "={{$json.inline_keyboard}}"
        }
      },
      "id": "d3c4e5f6-0010-0010-0010-000000000010",
      "name": "Send Rating Form",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2000, 220],
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"callback_query_id\": \"{{$json.callback_query_id}}\", \"text\": \"{{$json.reply_text || 'OK'}}\"}",
        "options": {}
      },
      "id": "d3c4e5f6-0011-0011-0011-000000000011",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 100]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\nconst profile = JSON.parse(fs.readFileSync('/data/user_profile.json', 'utf8'));\nconst ratingsHistory = JSON.parse(fs.readFileSync('/data/ratings_history.json', 'utf8'));\nlet lastDigest = {items: []};\ntry { lastDigest = JSON.parse(fs.readFileSync('/data/last_digest.json', 'utf8')); } catch(e) {}\nreturn [{\n  json: {\n    text: $input.first().json.text,\n    profile,\n    ratingsHistory,\n    lastDigest\n  }\n}];"
      },
      "id": "d3c4e5f6-0012-0012-0012-000000000012",
      "name": "Read Context",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 512,\n  \"system\": \"Clasifica el mensaje del usuario en uno de estos tipos: reporte_proactivo, cambio_preferencia, pregunta, otro. Responde solo con JSON: {\\\"intent\\\": \\\"tipo\\\", \\\"confidence\\\": 0.9, \\\"extracted\\\": {...}}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": $json.text\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d3c4e5f6-0013-0013-0013-000000000013",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "functionCode": "const intentResponse = $input.first().json;\nconst content = intentResponse.content?.[0]?.text || '{}';\nlet intent;\ntry { intent = JSON.parse(content); } catch(e) {\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  intent = match ? JSON.parse(match[0]) : {intent: 'otro', confidence: 0.5};\n}\nconst context = $('Read Context').first().json;\nreturn [{\n  json: {\n    intent: intent.intent,\n    confidence: intent.confidence,\n    extracted: intent.extracted || {},\n    text: context.text,\n    profile: context.profile,\n    ratingsHistory: context.ratingsHistory,\n    lastDigest: context.lastDigest\n  }\n}];"
      },
      "id": "d3c4e5f6-0014-0014-0014-000000000014",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1780, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5\",\n  \"max_tokens\": 1024,\n  \"system\": \"Eres un curador de contenidos personal. Gestiona reportes proactivos, cambios de preferencia y preguntas. Responde en español directo. Si hay profile_update, inclúyelo como JSON al final de tu respuesta en bloque \\\"profile_update\\\": {}.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Mensaje: \" + $json.text + \"\\nIntención detectada: \" + $json.intent + \"\\nPerfil: \" + JSON.stringify($json.profile) + \"\\nÚltimo digest: \" + JSON.stringify($json.lastDigest?.items?.slice(0, 5) || []) + \"\\nHistorial: \" + JSON.stringify($json.ratingsHistory?.ratings?.slice(-10) || [])\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d3c4e5f6-0015-0015-0015-000000000015",
      "name": "Claude Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "functionCode": "const fs = require('fs');\nconst claudeResponse = $input.first().json;\nconst fullText = claudeResponse.content?.[0]?.text || '';\n// Extract profile_update block if present\nlet profileUpdate = null;\nconst match = fullText.match(/\"profile_update\"\\s*:\\s*(\\{[\\s\\S]*?\\})/);\nif (match) {\n  try { profileUpdate = JSON.parse(match[1]); } catch(e) {}\n}\n// Clean reply (remove JSON block from user-facing text)\nconst replyText = fullText.replace(/```json[\\s\\S]*?```/g, '').replace(/\"profile_update\"\\s*:\\s*\\{[\\s\\S]*?\\}/g, '').trim();\n// Apply profile update if present\nif (profileUpdate) {\n  const profilePath = '/data/user_profile.json';\n  const profile = JSON.parse(fs.readFileSync(profilePath, 'utf8'));\n  const {action, data} = profileUpdate;\n  if (action === 'update_interest' && data?.topic && data?.weight_delta) {\n    const current = profile.interests[data.topic] || 5;\n    profile.interests[data.topic] = Math.max(1, Math.min(10, current + data.weight_delta));\n  }\n  if (action === 'add_host_affinity' && data?.host && data?.host_delta) {\n    const current = profile.host_affinities[data.host] || 5;\n    profile.host_affinities[data.host] = Math.max(1, Math.min(10, current + data.host_delta));\n  }\n  if (action === 'add_podcast' && data?.name) {\n    const exists = profile.known_podcasts.find(p => p.name === data.name);\n    if (!exists) {\n      profile.known_podcasts.push({\n        name: data.name,\n        rss_url: data.rss_url || null,\n        language: data.language || 'es',\n        priority: 6,\n        max_duration_minutes: 90,\n        feedback: {topic_score: null, host_score: null, completion_rate: null, why_i_like: [], episodes_rated: 0, quick_likes: 0, quick_dislikes: 0}\n      });\n    }\n  }\n  profile.profile_update_count = (profile.profile_update_count || 0) + 1;\n  profile.last_updated = new Date().toISOString();\n  fs.writeFileSync(profilePath, JSON.stringify(profile, null, 2));\n  // Store in ratings history if proactive report\n  if (profileUpdate.store_in_ratings_history) {\n    const ratingsPath = '/data/ratings_history.json';\n    const ratings = JSON.parse(fs.readFileSync(ratingsPath, 'utf8'));\n    ratings.proactive_reports.push({\n      ...profileUpdate,\n      timestamp: new Date().toISOString()\n    });\n    fs.writeFileSync(ratingsPath, JSON.stringify(ratings, null, 2));\n  }\n}\nreturn [{json: {reply_text: replyText}}];"
      },
      "id": "d3c4e5f6-0016-0016-0016-000000000016",
      "name": "Update Profile if Needed",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [2220, 420]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.reply_text}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "d3c4e5f6-0017-0017-0017-000000000017",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [2440, 420],
      "credentials": {
        "telegramApi": {
          "id": "telegram_creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "d3c4e5f6-0018-0018-0018-000000000018",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2660, 400]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [[{"node": "Validate Sender", "type": "main", "index": 0}]]
    },
    "Validate Sender": {
      "main": [[{"node": "Is Valid?", "type": "main", "index": 0}]]
    },
    "Is Valid?": {
      "main": [
        [],
        [{"node": "Route by Type", "type": "main", "index": 0}]
      ]
    },
    "Route by Type": {
      "main": [[{"node": "Switch Route", "type": "main", "index": 0}]]
    },
    "Switch Route": {
      "main": [
        [{"node": "Parse Callback Data", "type": "main", "index": 0}],
        [{"node": "Read Context", "type": "main", "index": 0}]
      ]
    },
    "Parse Callback Data": {
      "main": [[{"node": "Switch Action", "type": "main", "index": 0}]]
    },
    "Switch Action": {
      "main": [
        [{"node": "Handle Quick Rating", "type": "main", "index": 0}],
        [{"node": "Handle Quick Rating", "type": "main", "index": 0}],
        [{"node": "Handle Rate Request", "type": "main", "index": 0}],
        []
      ]
    },
    "Handle Quick Rating": {
      "main": [[{"node": "Answer Callback Query", "type": "main", "index": 0}]]
    },
    "Handle Rate Request": {
      "main": [[{"node": "Send Rating Form", "type": "main", "index": 0}]]
    },
    "Answer Callback Query": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    },
    "Send Rating Form": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    },
    "Read Context": {
      "main": [[{"node": "Detect Intent", "type": "main", "index": 0}]]
    },
    "Detect Intent": {
      "main": [[{"node": "Parse Intent", "type": "main", "index": 0}]]
    },
    "Parse Intent": {
      "main": [[{"node": "Claude Conversation", "type": "main", "index": 0}]]
    },
    "Claude Conversation": {
      "main": [[{"node": "Update Profile if Needed", "type": "main", "index": 0}]]
    },
    "Update Profile if Needed": {
      "main": [[{"node": "Telegram Reply", "type": "main", "index": 0}]]
    },
    "Telegram Reply": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "v2-telegram-conversation-workflow",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
