workflows/v4_daily_tracker.json
{
  "name": "V4 - Daily Episode Tracker",
  "nodes": [
    {
      "id": "v4-0001",
      "name": "Cron Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "v4-0002",
      "name": "Read Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        460,
        400
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst profile = JSON.parse(fs.readFileSync('/data/user_profile.json', 'utf8'));\nconst queue = (() => { try { return JSON.parse(fs.readFileSync('/data/podcast_queue.json','utf8')); } catch(e) { return {items:[]}; } })();\nconst podcasts = (profile.known_podcasts || []).filter(p => p.rss_url || p.youtube_rss_url);\nreturn [{json: {podcasts, queue_items: queue.items}}];"
      }
    },
    {
      "id": "v4-0003",
      "name": "Parse RSS Sources",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        680,
        400
      ],
      "parameters": {
        "jsCode": "const {podcasts} = $input.first().json;\nif (!podcasts.length) return [{json: {url: null, name: 'empty', skip: true}}];\nconst sources = [];\nfor (const p of podcasts) {\n  // Try both RSS and YouTube — deduplicated later by episode title\n  if (p.rss_url) sources.push({json: {url: p.rss_url, name: p.name, podcast_id: p.id || p.name, source: 'rss'}});\n  if (p.youtube_rss_url && p.youtube_rss_url !== p.rss_url) {\n    sources.push({json: {url: p.youtube_rss_url, name: p.name, podcast_id: p.id || p.name, source: 'youtube'}});\n  }\n  // Fallback: if neither, skip\n}\nif (!sources.length) return [{json: {url: null, name: 'empty', skip: true}}];\nreturn sources;"
      }
    },
    {
      "id": "v4-0004",
      "name": "Fetch RSS Feeds",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "parameters": {
        "url": "={{$json.url}}",
        "options": {
          "timeout": 10000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "v4-0005",
      "name": "Filter Yesterday Episodes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1120,
        400
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst items = $input.all().filter(i => !i.json.error);\nconst cutoff = new Date(Date.now() - 36 * 60 * 60 * 1000); // 36h window — covers early morning uploads\n\n// Load skip_clips settings\nconst skipClipsMap = {};\ntry {\n  const profile = JSON.parse(fs.readFileSync('/data/user_profile.json', 'utf8'));\n  for (const p of (profile.known_podcasts || [])) { if (p.skip_clips) skipClipsMap[p.name.toLowerCase()] = true; }\n} catch(e) {}\nconst CLIP_RE = /\\b(short|shorts|clip|clips|recorte|recortes|highlight|highlights|teaser|trailer|avance|snippet|adelanto|cortito|mini)\\b|#shorts/i;\nfunction isClip(podcastName, title, duration) {\n  if (!skipClipsMap[podcastName.toLowerCase()]) return false;\n  if (duration) {\n    const parts = String(duration).split(':').map(Number);\n    const secs = parts.length === 3 ? parts[0]*3600+parts[1]*60+parts[2] : parts.length === 2 ? parts[0]*60+parts[1] : parseInt(duration,10);\n    if (secs > 0 && secs < 600) return true;\n  }\n  return CLIP_RE.test(title);\n}\n\nconst newEpisodes = [];\nconst seenTitles = new Set(); // dedup: same episode from RSS + YouTube RSS\nfor (const item of items) {\n  const feed = item.json;\n  const episodes = Array.isArray(feed) ? feed : [feed];\n  for (const ep of episodes) {\n    // Support pubDate (RSS 2.0), isoDate (parsed), published (Atom/YouTube)\n    const pubDate = ep.pubDate || ep.isoDate || ep.date || ep.published;\n    if (!pubDate) continue;\n    const d = new Date(pubDate);\n    if (isNaN(d.getTime())) continue;\n    if (d >= cutoff && d <= new Date()) {\n      // n8n rssFeedRead puts feed-level title in ep.feed.title\n      const podName = ep.feed?.title || ep.meta?.title || ep.feed_title || 'Podcast';\n      const title = ep.title || 'Episodio sin título';\n      // Deduplicate by normalized title (same ep from RSS + YouTube feed)\n      const titleKey = title.toLowerCase().replace(/[^a-z0-9áéíóúñ]/g, '').slice(0, 60);\n      if (seenTitles.has(titleKey)) continue;\n      seenTitles.add(titleKey);\n      const dur = ep.itunes?.duration || ep.duration || null;\n      if (isClip(podName, title, dur)) continue;\n      newEpisodes.push({\n        podcast_name: podName,\n        title,\n        url: ep.link || ep.enclosure?.url || '',\n        spotify_url: null,\n        pub_date: pubDate,\n        duration: dur,\n        description: (ep.content || ep.summary || ep.contentSnippet || '').slice(0, 200)\n      });\n    }\n  }\n}\nif (!newEpisodes.length) return [{json: {skip: true, episodes: [], feed_count: items.length}}];\nreturn [{json: {skip: false, episodes: newEpisodes, feed_count: items.length}}];"
      }
    },
    {
      "id": "v4-0006",
      "name": "Has New Episodes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "v4-0007",
      "name": "Enrich with Spotify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst {episodes} = $input.first().json;\nlet spotifyToken = null;\ntry {\n  const tokenData = JSON.parse(fs.readFileSync('/data/spotify_token.json', 'utf8'));\n  spotifyToken = tokenData.access_token;\n} catch(e) {}\nreturn episodes.map(ep => ({json: {...ep, spotify_token: spotifyToken}}));"
      }
    },
    {
      "id": "v4-0008",
      "name": "Format Episode Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1780,
        300
      ],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst items = $input.all();\nif (!items.length) return [];\n\nconst cachePath = '/data/v4_episodes_cache.json';\nlet cache = {};\ntry { cache = JSON.parse(fs.readFileSync(cachePath, 'utf8')); } catch(e) {}\n\nconst result = [];\nlet counter = 0;\nconst now = Date.now();\nfor (const item of items) {\n  const ep = item.json;\n  const episode_id = 'v4' + now.toString(36).slice(-6) + (counter++).toString(36);\n\n  // Platform badge: YouTube source gets 📺, Spotify gets 🎵, RSS gets 🎙️\n  const hasYoutube = ep.url && (ep.url.includes('youtube.com') || ep.url.includes('youtu.be'));\n  const hasSpotify = !!ep.spotify_url;\n  const platformBadge = hasYoutube ? '📺' : hasSpotify ? '🎵' : '🎙️';\n\n  // Save to cache for V2 queue handler lookup\n  cache[episode_id] = {\n    title: ep.title || 'Episodio',\n    podcast: ep.podcast_name || 'Podcast',\n    url: ep.spotify_url || ep.url || '',\n    youtube_url: hasYoutube ? ep.url : null,\n    spotify_url: ep.spotify_url || null,\n    duration_min: null\n  };\n\n  const dur = ep.duration ? ` · ⏱️ ${ep.duration}` : '';\n  let text = `${platformBadge} *${(ep.podcast_name || 'Podcast').slice(0, 40)}*\\n_${(ep.title || 'Episodio').slice(0, 80)}${dur}_`;\n  if (ep.description) text += `\\n${ep.description.slice(0, 120)}`;\n\n  // Show platform links\n  const links = [];\n  if (hasYoutube) links.push(`[📺 YouTube](${ep.url})`);\n  if (hasSpotify) links.push(`[🎵 Spotify](${ep.spotify_url})`);\n  if (!hasYoutube && !hasSpotify && ep.url) links.push(`[🔗 Escuchar](${ep.url})`);\n  if (links.length) text += `\\n${links.join('   ')}`;\n\n  const reply_markup = {\n    inline_keyboard: [[\n      {text: '📋 Añadir a lista', callback_data: `q_add:${episode_id}`},\n      {text: '✅ Ya lo escuché', callback_data: `q_listened:${episode_id}`}\n    ]]\n  };\n\n  result.push({json: {text, episode_id, reply_markup}});\n}\n\nfs.writeFileSync(cachePath, JSON.stringify(cache, null, 2));\nreturn result;"
      }
    },
    {
      "id": "v4-0009",
      "name": "Send Daily Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {chat_id: $env.TELEGRAM_CHAT_ID, text: $json.text, parse_mode: \"Markdown\", disable_web_page_preview: true, reply_markup: $json.reply_markup} }}",
        "options": {}
      }
    },
    {
      "id": "v4-0010",
      "name": "No New Episodes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.telegram.org/bot\" + $env.TELEGRAM_BOT_TOKEN + \"/sendMessage\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {chat_id: $env.TELEGRAM_CHAT_ID, text: \"📭 Sin episodios nuevos en las últimas 36h.\" + ($json.feed_count ? \" (\" + $json.feed_count + \" feeds consultados)\" : \"\"), parse_mode: \"Markdown\"} }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron Daily 09:00": {
      "main": [
        [
          {
            "node": "Read Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Profile": {
      "main": [
        [
          {
            "node": "Parse RSS Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse RSS Sources": {
      "main": [
        [
          {
            "node": "Fetch RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Feeds": {
      "main": [
        [
          {
            "node": "Filter Yesterday Episodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Yesterday Episodes": {
      "main": [
        [
          {
            "node": "Has New Episodes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Episodes?": {
      "main": [
        [
          {
            "node": "Enrich with Spotify",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No New Episodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich with Spotify": {
      "main": [
        [
          {
            "node": "Format Episode Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Episode Items": {
      "main": [
        [
          {
            "node": "Send Daily Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}